body{
    font-family: 'Poppins', sans-serif;
}
.color-style{
    color: #D72C31;
}
.verticle-center {
    position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.height-100{
    height: 100vh;
}

.filled-button{
  background-color: #D72C31 ;
  border-radius: 15px;
  border: 0px solid;
}
.rim-button{
   border: 2px solid #D72C31;
   border-radius: 15px;
   background-color: transparent;
    
}

.border-control{
    border: 0px solid;
    border-bottom: 1px solid;
}
.border-control-none{
    border:0px;
}
#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 36px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
  }

  .w-70{
      width: 70%;
  }
  .w-100{
      width: 100%;
  }
  .checkboxes{
     
    padding: 10px;
    float: left;
    margin: 10px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 10px;
    color: #999999;
    font-size: 11px;
}
.checkboxes-rad{
    color: #999999;
    padding: 11px;
    float: left;
    margin: 10px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 10px;
}
.sub-title{
    color: #999999;

}