@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url('../fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: Poppins-SemiBoldItalic;
    src: url('../fonts/Poppins-SemiBoldItalic.ttf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-Italic;
    src: url('../fonts/Poppins-Italic.ttf');
}
*:focus {
    outline: 0 !important;
}
body{
    font-family: Poppins-Regular, sans-serif;
}

body.auth {
    background-image: url('../img/background.png');
    background-size: cover;
}

body.main {
    background: #F3F2E8;
    background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sidebar {
    height: 100%;
    width: 42px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #292929;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container-my {
    width: 90%;
    margin: auto;
}

.bg-danger {
    /* borders-gray */
    background: #D72C31;
}

.progress {
    height: 5px;
}



/* DIFFERENT TYPES OF FONTS */

h1 {
    font-family: Poppins-Bold;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */
    color: #000000;
}

h2 {
    font-family: Poppins-Regular;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

h3 {
    font-family: Poppins-Regular;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    /* main tect */
    color: #292929;
}

h4 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    /* identical to box height, or 83% */
    color: #000000;
}

body.auth h4 {
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

h5 {
    font-family: Poppins-Regular;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    /* gray3 */
    color: #999999;
}

h6, a, .custom-control-label {
    font-family: Poppins-Regular;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    /* gray2 */
    color: #515151;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.custom-control-label {
    line-height: 26px;
}

p {
    font-family: Poppins-Regular;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #999999;
}

p.thinbig {
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */
    
    text-align: center;
    
    /* main tect */
    
    color: #292929;
}


input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.form-control:focus {
    border: none;
    box-shadow: 0px 1px 0px #D72C31;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../img/tick.svg);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #88D25A;
    background-color: #fff;
    border: 2px solid #88D25A;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    color: #D72C31;
    background-color: #fff;
    border: 5px solid #D72C31;
}

.form-control {
    border-radius: 0;
    box-shadow: 0px 1px 0px #d7d7d7;
    padding: .375rem 0px;
}

.color-style{
    color: #D72C31;
}

.height-100{
    height: 100vh;
}

.filled-button{
  background-color: #D72C31 ;
  border: 2px solid #D72C31;
  border-radius: 20px;
  color: white;
  margin: 0;
  margin-right: 1rem;
  text-decoration: none;
}

.filled-button:hover {
    background-color: #FDD700;
    color: black;
    border-color: #FDD700;
}

.rim-button{
   border: 2px solid #D72C31;
   color: #D72C31;
   border-radius: 20px;
   background-color: white;
   margin: 0;
   margin-right: 1rem;
   text-decoration: none;
}

.rim-button:hover {
    background-color: #D72C31;
    color: white;
    border-color: #D72C31;
}

.rim-button:disabled, .rim-button[disabled], .filled-button:disabled, .filled-button[disabled] {
    /* borders-gray */
    background: #DEDEDE;
    /* borders-gray */
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
}

.btn-block+.btn-block {
    margin: 0;
}

.border-control{
    border: 0px solid;
}

.otpfield {
    width: 40px; margin-right: 5px;
    text-align: center;
}

#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 36px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
  }

  .w-70{
      width: 70%;
  }
  .w-100{
      width: 100%;
  }
  .checkboxes{
     
    padding: 10px;
    float: left;
    margin: 10px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 10px;
    color: #999999;
    font-size: 11px;
}
.checkboxes-rad{
    color: #999999;
    padding: 11px;
    float: left;
    margin: 10px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 10px;
}
.sub-title{
    color: #999999;
}


/* Floating Label */
label {
    position:relative;
    display:inline-block;
}

span.floating-label {
    padding: 10px 0;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    font-size: 0.8em;
}

input:focus + span.floating-label, input:not(:placeholder-shown) + span.floating-label {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-10px);
}

/* For IE Browsers*/
input:focus + span.floating-label, input:not(:-ms-input-placeholder) + span.floating-label {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
}

/* SELECT SUBJECT TABS */
.subject-group {
    max-width: 400px;
}
.divselect {
    position: relative;
    width: fit-content;
    display: inline-block;
    margin-right: 20px;
}
.divselect input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.divselect .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    /* borders-gray */

    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
}

.divselect .alphabet {
    color: #A8A8A8;
    font-weight: 500;
    margin: 7px;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

/* When the checkbox is checked, add a blue background */
.divselect input:hover ~ .checkmark, .divselect input:checked ~ .checkmark {
    background: #F0F9FF;
    border: 1px solid #2E9CEC;
}

.divselect input:hover ~ .alphabet, .divselect input:checked ~ .alphabet {
    color: #2E9CEC;
    font-weight: 500;
    z-index: 1;
}





/* Dashboard css */
.tabs .tab {
    width: 19%;  
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.tabs .tab img {
    margin-bottom: 10px;
}

.card {
    border-radius: 10px;
}

.main .card {
    height: 100%;
}

.card-header {
    background: none;
    border: 0;
}

/* Image Collection */
.avatars {
    margin-right: calc(1em + 10px);
}
.avatar {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
}

.avatar {
    margin-right: -10px;
    -webkit-mask: radial-gradient(circle 0px at 5px 50%,transparent 99%,#fff 100%);
    mask: radial-gradient(circle 0px at 5px 50%,transparent 99%,#fff 100%);
}

.avatar.last {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    /* white */
    background: #FFFFFF;
    /* borders-gray */
    border: 1px solid #DEDEDE;
}

.avatar img {
    width: 100%;
    display: block;
}

.toright {
    display: flex;
    width: fit-content;
    margin-left: auto;
    place-items: center;
}

.date-style {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}

.date-style a {
    text-decoration: none;
}

.date-style h3 {
    padding: 5px 9px;
    background: #FFFFFF;
    border-radius: 50%;
}

.date-style:hover h3, .date-style.active h3 {
    background: #292929;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    color: white;
}

.carousel-control-next, .carousel-control-prev {
    color: #000;
    opacity: 1;
    width: fit-content;
}

.carousel-control-prev {
    background: linear-gradient(90deg, #FFFFFF 25%, rgba(255, 255, 255, 0) 100%);
}

.carousel-control-next {
    background: linear-gradient(90deg, #FFFFFF 17.19%, rgba(255, 255, 255, 0) 100%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: url(../img/arrow-left.svg);
    width: 10px;
    height: 10px;
}

.carousel-control-next-icon {
    transform: rotate(180deg);
}

.w-10 {
    display: inline-block;
    width: 10%;
}

.w-90 {
    display: inline-block;
    width: 90%;
}

.attach {
    margin-right: 1em;
}

.attach img {
    height: 20px;
}

.more {
    padding: 10px;
    border-radius: 50%;
}

.more:hover {
    background: #F2F2F2;
}

.more img {
    height: 15px;
}

.dropdown.open-hover:hover>.dropdown-menu {
    display: block;
}

.dropdown.open-hover .dropdown-menu {
    margin: -0.5rem 0 0;
}

/*classroom*/
.top-bar{background:#F3F2E8; margin-bottom:10px; padding:10px;}
.tabs_top .tab {
    /* width: 19%;   */
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.tabs_top .tab img {
    margin-right: 30px;
}
body.main_inner {
    background: #fff;
    background-size: cover;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    line-height: 28px;
    text-align: center;
    pointer-events: none;
    color: #000;
}
.search_form{float:right;}
.search_form .form-control{
    border: 1px solid #ccc;
    box-shadow: 0px 1px 0px #ccc;
	border-radius:25px;
	background:#E2E1D5;
	height: 30px;
}
.search_form .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 0px #ccc;
	border-radius:25px;
}
.search_form .form-group {
    margin:5px 0px;
}
.border_bottom{
	border-bottom:1px solid #ced4da;
	margin:40px 0px;	
}
.classroom .form-control {border-top:0px; border-left:0px; border-right:0px; border-bottom:1px solid #ced4da;}
.texgs .badge{ min-width: 100px;border:1px solid #bbb; border-radius:25px; padding:10px; margin:5px; color:#A8A8A8;}
.badge-light {
    background-color: #F0F9FF;
	border:1px solid #2E9CEC;
}

.addSubject {
    max-width: 200px;
   font-size: 12px; 
}

.addSubject .rim-button {
    min-width: 100px;
}

.addSubject input.form-control {
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
    border-right: none;
    font-size: 12px;
}

.addSubject .input-group-append button {
    border-radius: 0 16px 16px 0;
    border-left: none;
    font-size: 12px;
}
.badge-danger {
    background-color: transparent;
    border: 1px solid #dc3545 !important;
    color: #dc3545 !important;
}
/*side_box*/
.block_side_box{
 background-image: linear-gradient(#474747, #161616);
 box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25);
 padding:20px 40px 20px 40px; 
 text-align:center;
 border-radius:10px;
 margin:20px;
 color:#fff;
}
.block_side_box p{color:#fff;}

.blue_side_box{
 background-image: linear-gradient(#8324F3, #132467);
 box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25);
 padding:20px 40px 20px 40px; 
 text-align:center;
 border-radius:10px;
 margin:20px;
 color:#fff;
}
.blue_side_box p{color:#fff;}
.white_side_box{
 /* background-image: linear-gradient(#8324F3, #132467); */
 background:#fff;
 box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25);
 padding:20px 40px 20px 40px; 
 text-align:center;
 border-radius:10px;
 margin:20px;
 color:#292929;
}
.white_side_box p{color:#292929;}

.grey_side_box{
	background:#f8f8f8;
	border:1px solid #dedede;
	padding:20px;
	border-radius:10px;
}
/*time line*/
.sidebox_timeline{margin-left:-15px;}
.timeline{
	position: relative;
}

/*Line*/
.timeline>li::before{
	content:'';
	position: absolute;
	width: 1px;
	background-color: #dedede;
	top: 0;
	bottom: 0;
	left:-28px;
}

/*Circle*/
.timeline>li::after{
    text-align: center;
    padding-top:8px;
	z-index: 10;
	content:counter(item);
	position: absolute;
	width: 30px;
	height: 30px;
	border:1px solid dedede;
	border-radius: 50%;
	top:0;
	left:-43px;
	box-shadow:border-box;
	background:#fff;
}

/*Content*/
.timeline>li{
	counter-increment: item;
	padding: 10px 10px;
	margin-left: 0px;
	min-height:70px;
	position: relative;
	list-style: none;
	font-size:12px;
	color:#999;
}
.timeline>li:nth-last-child(1)::before{
	width: 0px;
}

.top_text{margin-top:-40px;}
.side_arrow{
	padding-top:35px;
}
.continue_text{font-weight:700;}
.continue_text_ptext{font-size:12px;}


.buttonInside{
  position:relative;
  margin-bottom:10px;
}
#container{
  width: 300px;
}
.addinput input{
  height:35px;
  width:100%;
  padding-left:10px;
  border-radius: 16px;
  border:1px solid #999;
  font-size:13px;
}
.addinput button{
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    outline: none;
    text-align: center;
    color:#A8A8A8;
    padding: 2px;
	font-size:12px;
}
.addinput button:hover{
  cursor:pointer;
}

.share_link {
    padding-bottom: 2px;
    box-shadow: 0px 1px 0px #D7D7D7;
}

.share_link button {
    font-size:12px;
}

.share_link form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border-top:none;
   border-left:none;
    border-right:none;
  border-bottom: none;
  float: left;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 0px #D7D7D7;
  position:relative;
}

.share_link form.example button {
 color: #f00;
  font-size: 14px;
  background: transparent;
    border: 1px solid #f00;
    border-radius: 16px;
  cursor: pointer;
  position:absolute;
  right:20px;
  top:6px;
}

.share_link form.example button:hover {
 background: transparent;
    border: 1px solid #f00;
}

.share_link form.example::after {
  content: "";
  clear: both;
  display: table;
}
.googlemeet_text{
	color:#292929;
}

/* Online Classes */
.provider {
    background: #FFEFF0;
    /* primary color */
    border: 1px solid #D72C31;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2rem;
}


/* Nav Tabs */
.tab {
    box-shadow: 0px 1px 0px #DEDEDE;
}

.tab .nav-tabs {
    width: fit-content;
}



.tab .nav-tabs .nav-item {
    width: fit-content;
    text-align: center;
    margin-top: 20px;
}

.tab .nav-tabs .nav-item .nav-link {
    border: none;
    opacity: 0.5;
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #999999;
    letter-spacing: 0;
    margin-bottom: -5px;
}

.tab .nav-tabs .nav-item .nav-link.active {
    color: #E3262F;
    opacity: 1;
    background-color: transparent;
}

.tab .nav-tabs {
    border-bottom: none;
}

    /*Bar Style*/

.tab .slider{
    width: 100%;
    height: 0.3px;
    margin: auto;
    display: block;
    background: #DEDEDE;
    margin-top: 10px;
    border-radius: 5px;
}

.tab .slider .bar{
    width: 50%;
    height: 1px;
    background: #E3262F;
    border-radius: 5px;
}

/*Animations*/
.tab .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

.subjectbox {
    margin-bottom: 10px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 10px;
}

.subjectbox.active {
    background: #F0F9FF;
    border: 1px solid #2E9CEC;
}

.border-right-grey {
    border-right: 1px solid #DEDEDE;
}

.statsBox {
    background: #FFFFFF;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Collapsible sidebar right sidebar */
#sidebar-wrapper {
    top: 0px;
    margin-right: -50%;
    right: 0;
    width: 50%;
    background: transparent;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1031;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}

#sidebar-wrapper .editdiv {
    width: 25%;
    float: right;
    height: 100%;
    background: white;
}

#overlay {
    position: fixed;
    z-index: 1031;
    top: 0;
    width: 65%;
    bottom: 0;
    left: 0;
}

#sidebar-wrapper.active {
    right: 50%;
    width: 100%;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}

#subject-wrapper {
    background: transparent;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}

#subject-wrapper.active {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}

.bin {
    background: #FFFFFF;
    border: 1px solid #D72C31;
    box-sizing: border-box;
    border-radius: 22px;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 28px;
}